.mw/
Audios/
AutoBackUp/
Character/
Config/
DBCache/
dist/
GameUITexs/
Levels/
!JavaScripts/Levels
!JavaScripts/Module/Levels
!JavaScripts/UIScript/Levels
!JavaScripts/Config/BaseConfig
Materials/
Model/
Pictures/
Prefabs/
Project/
SceneTexs
StaticMeshs/
.project
All_Json
Asset_Data_List
build.ts
Local_Asset_List
Local_Material_Assets
LocalAssetList
LocalDependentAssetsConfig
tsconfig.json
*.meta
*.ui
game.desc
LocalAssetsUploadConfig
